body {
  overflow: hidden;
  margin: 0;
  position: relative;
  background-color: #FFFFE0;
}

a {
  color: black;
  text-decoration: none;
}

img {
  height: 60px;
}

.master {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 120px);
  left: 120px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cap {
  background-color: rgba(0, 250, 154, 0.5);
  display: grid;
  grid-template-rows: repeat(5, calc(100vh / 5));
  position: fixed;
  width: 120px;
  height: 100vh;
  z-index: 2;
}

.links {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.cap_element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cap_img {
  height: 60px;
  position: absolute;
  opacity: 0.8;
  z-index: 4;
  transition: 0.4s opacity;
}

.cap_text {
  display: block;
  position: absolute;
  opacity: 0;
  height: 180px;
  text-align: center;
  line-height: 180px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  z-index: 3;
}

.cap_img:hover ~ .cap_text {
  transition: 0.5s opacity;
  opacity: 1;
}

.cap_img:hover {
  opacity: 0;
}

/* HOME */


#home_text {
  display: grid;
  height: calc(100vh / 4);
  text-align: center;
}

.typewriter-text {
  font-family: Courier, monospace;
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: 700;
  box-sizing: border-box;
}


.skills {
  font-family: Courier, monospace;
  letter-spacing: 2px;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
}

/* HOME END */

/* text */

.work_element,
.skills_element {
  margin-top: 30px;
}

.skills_element,
.contact_text,
.work_element,
.about_text {
  font-size: 40px;
  font-family: 'Courier Prime', monospace;
  /* font-family: 'DM Mono', monospace; */
  /* font-family: 'Nova Mono', monospace; */
  /* font-family: 'Baloo Tamma 2', cursive; */
}

.contact_text {
  font-size: 60px;
}

.about_text {
  box-sizing: border-box;
  padding: 50px;
  font-size: 50px;
}
/* END text */

/* CONTACT */

#contact {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

/* CONTACT END */

/* SKILLS */


/* SKILLS END */

/* WORK */

.project {
  text-decoration: underline;
}

/* WORK END */


/* @media only screen and (max-width: 810px) {
  .cap {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 16vh;
  }
  .cap_text {
    height: 16vh;
    line-height: 16vh;
  }
  .cap_element {
    height: 16vh;
  }
} */

@media only screen and (max-width: 639px) and (min-width: 300px) {
  /* .links {
    top: 52px;
  } */

  .master {
    left: 0;
    top: 52px;
    height: calc(100vh - 52px);
    width: 100%;
  }

  /* HOME */
  .skills {
    letter-spacing: 1px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
  }
  #home_text {
    width: 100%;
    height: calc(100vh / 3);
    font-family: Courier, monospace;
    display: grid;
  }

  .typewriter-text {
    line-height: 40px;
    align-items: center;
    padding: 0px 10px 0px 10px;
    letter-spacing: 1px;
    text-align: center;
    font-size: calc(100vh / 18);
    font-weight: 700;
    box-sizing: border-box;
  }
  .contact_text {
    font-size: calc(100vh / 25);
  }

  .about_text {
    box-sizing: border-box;
    padding: 5px; 
    font-size: calc(100vh / 35);
  }

  .skills_element,
  .work_element {
    box-sizing: border-box;
    padding: 5px; 
    font-size: calc(100vh / 25);
  }

  .about_text {
    box-sizing: border-box;
    padding: 20px;
    font-size: calc(100vh / 33);
  }

  /* HOME END */

  .cap_text {
    display: block;
    position: absolute;
    opacity: 0;
    height: 52px;
    text-align: center;
    line-height: 52px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    z-index: 3;
  }
  .cap_element {
    height: 52px;
  }
  img {
    height: 30px;
  }
  .cap {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 52px;
  }
  .cap_img {
    height: 30px;
  }
}

@media only screen and (max-height: 1100px) and (min-height: 639px) {
    .about_text {
    box-sizing: border-box;
    padding: 20px;
    font-size: calc(100vh / 28);
  }
  .skills_element {
  margin-top: 6px;
  }

  .work_element {
    margin-top: 15px;
  }
}

@media only screen and (max-height: 639px) {
  img {
    height: 30px;
  }

  .cap_img {
    height: 30px;
  }

  .cap_text {
    height: calc(100vh / 5);
    font-size: 18px;
    line-height: calc(100vh / 5);
  }

  .contact_img {
    height: calc(100vh / 15);
  }

  .contact_text {
    font-size: calc(100vh / 15);
  }

  .skills {
    line-height: 40px;
    font-size: 15px;
  }

  #home_text {
    height: calc(100vh / 2);
  }

  .about_text {
    box-sizing: border-box;
    padding: 20px;
    font-size: calc(100vh / 28);
  }

  .skills_element {
  margin-top: 6px;
  }

  .work_element {
    margin-top: 15px;
  }

  .skills_element,
  .work_element {
    box-sizing: border-box;
    padding: 5px; 
    font-size: calc(100vh / 20);
  }

  .typewriter-text {
    font-size: 40px;
  }
}