body {
  overflow: hidden;
  margin: 0;
  background-color: #FFFFE0;
}

a {
  color: black;
   text-decoration: none;
}

img {
  height: 60px;
}

.master {
  display: flex;
  position: relative;
  width: 90%;
  left: 10%;
  height: calc(100vh);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cap {
  background-color: rgba(0, 250, 154, 0.5);
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-rows: repeat(5, calc(100vh / 5));
  position: fixed;
  width: 10%;
  height: 100vh;
  z-index: 2;
}

.links {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.cap_element {
  display: flex;
  justify-content: center;
}

.cap_img {
  margin-top: 60px;
  height: 60px;
  position: absolute;
  opacity: 0.8;
  z-index: 4;
  transition: 0.4s opacity;
}

.cap_text {
  display: block;
  position: absolute;
  opacity: 0;
  height: 180px;
  text-align: center;
  line-height: 180px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  z-index: 3;
}

.cap_img:hover ~ .cap_text {
  transition: 0.5s opacity;
  opacity: 1;
}

.cap_img:hover {
  opacity: 0;
}

/* HOME */

#home_text {
  height: 272px;
  font-family: Courier, monospace;
  text-align: center;
  display: grid;
}

.typewriter-text {
  letter-spacing: 2px;
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  box-sizing: border-box;
}

.skills {
  letter-spacing: 2px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

/* HOME END */

/* CONTACT */

.contact_text {
  font-size: 40px;
  font-family: 'Baloo Tamma 2', cursive;
}

#contact {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

/* CONTACT END */

/* SKILLS */

.skills_element {
  font-family: 'Sriracha', cursive;
  font-size: 50px;
}

/* SKILLS END */


.work_element {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  line-height: 100px;
}


@media screen and (max-width: 500px) {
  
  /* HOME */
  .skills {
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
  }
  #home_text {
    height: 100px;
    font-family: Courier, monospace;
    text-align: center;
    display: grid;
  }
  .typewriter-text {
    letter-spacing: 1px;
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    box-sizing: border-box;
  }
  /* HOME END */

  .cap_text {
    display: block;
    position: absolute;
    opacity: 0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    z-index: 3;
  }
  img {
    height: 40px; 
  }
  .cap {
    height: 100px;
  }
  .cap_img {
    margin-top: 30px;
    height: 40px;
  }
}