body {
  overflow: hidden;
  margin: 0;
  background-color: #FFFFE0;
}

a {
  color: black;
  text-decoration: none;
}

img {
  height: 60px;
}

.master {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  left: 10%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cap {
  background-color: rgba(0, 250, 154, 0.5);
  display: grid;
  grid-template-rows: repeat(5, calc(100vh / 5));
  position: fixed;
  width: 10%;
  height: 100vh;
  z-index: 2;
}

.links {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.cap_element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cap_img {
  height: 60px;
  position: absolute;
  opacity: 0.8;
  z-index: 4;
  transition: 0.4s opacity;
}

.cap_text {
  display: block;
  position: absolute;
  opacity: 0;
  height: 180px;
  text-align: center;
  line-height: 180px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  z-index: 3;
}

.cap_img:hover ~ .cap_text {
  transition: 0.5s opacity;
  opacity: 1;
}

.cap_img:hover {
  opacity: 0;
}

/* HOME */


#home_text {
  display: grid;
  height: calc(100vh / 4);
  text-align: center;
}

.typewriter-text {
  font-family: Courier, monospace;
  letter-spacing: 2px;
  font-size: calc(100vh / 16);
  font-weight: 700;
  box-sizing: border-box;
}

#vlad_img {
  height: 400px;
}

.skills {
  font-family: Courier, monospace;
  letter-spacing: 2px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

/* HOME END */

/* CONTACT */

.contact_text {
  font-size: 40px;
  font-family: 'Baloo Tamma 2', cursive;
}

#contact {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

/* CONTACT END */

/* SKILLS */

.skills_element {
  font-family: 'Sriracha', cursive;
  font-size: 50px;
}

/* SKILLS END */


.work_element {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  line-height: 100px;
}

/* WORK */

.project {
  text-decoration: underline;
}

/* WORK END */


@media only screen and (max-width: 639px) and (min-width: 300px){
  
  .master {
    top: 8vh;
    height: 92vh;
    width: 100%;
    left: 0;
    text-align: center;
  }

  /* HOME */
  .skills {
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
  }
  #home_text {
    box-sizing: border-box;
    padding: 10px;
    height: calc(100% / 2);
    font-family: Courier, monospace;
    display: grid;
  }
  .typewriter-text,
  .skills_element {
    letter-spacing: 1px;
    text-align: left;
    font-size: calc(100vh / 16);
    font-weight: 700;
    box-sizing: border-box;
  }
  /* HOME END */

  .cap_text {
    display: block;
    position: absolute;
    opacity: 0;
    height: 8vh;
    text-align: center;
    line-height: 8vh;
    font-size: 15px;
    color: black;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    z-index: 3;
  }
  .cap_element {
    height: 8vh;
  }
  img {
    height: 30px;
  }
  .cap {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 8vh;
  }
  .cap_img {
    height: 30px;
  }
}